<!-- File Name: footer.ejs Student Name: Daniil Velyki Student ID: 301183618 Date: October 1, 2022 -->
<nav class="navbar sticky-bottom bg-light">
    <div class="container-fluid ">
      <h5 id="copyright">&copy; Daniil Velykyi 2022</h5>
    </div>
  </nav>