<div class="container-fluid" style="background-color: #111 !important; background-image: radial-gradient(#191919 3px,transparent 0); background-size: 38px 38px; background-repeat: repeat; height: 100%;">   
    <div class="container p-5">
        <div class="card mb-3 mx-auto bg-transparent border-light text-light" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="..." class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Daniil Velykyi</h5>
                  <p class="card-text">
                    I am a student in the Artificial Intelligence at Centennial College.
                    Previously I studied at Brebeuf College School in Toronto, ON.  
                  </p>
                  <p>
                    One of my favorite quotes is:
                  </p>
                  <figure>
                    <blockquote class="blockquote">
                      <p><i>All blame is a waste of time. No matter how much fault you find with another,
                        and regardless of how much you blame him, it will not change you.</i></p>
                    </blockquote>
                    <figcaption class="blockquote-footer">
                        Wayne Dyer
                    </figcaption>
                  </figure>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>
            </div>
          </div>
    </div>
</div>