<div class="container-fluid" style="background-color: #8938F7; height:100%">   
  <div class="container p-5" style="color: white">
      <div class="row mt-5 g-0 position-relative">
          <div class="col-md-6 mb-md-0 p-md-4">
            <img src="./content/images/myself.jpg" class="w-75 img-responsive center-block d-block mx-auto" alt="Picture of myself">
          </div>
          <div class="col-md-6 p-4 ps-md-0">
              <h1 class="title"><%= title %></h1>
            <!--h5 class="mt-0">Columns with stretched link</h5-->
              <p>
              I am a studying Artificial Intelligence at Centennial College. 
              <br>My interests include Java, C#, Python and other stuff! <br>
              Take a look at my work through the tabs :)
              </p>
              <figure>
                  <blockquote class="blockquote-sm">
                    <p>All blame is a waste of time. No matter how much fault you find with another,<br>
                      and regardless of how much you blame him, it will not change you.</p>
                  </blockquote>
                  <figcaption class="blockquote-footer text-info">
                      Wayne Dyer
                  </figcaption>
              </figure>
              <a href="https://github.com/daniilv-me" target="_blank" class="btn btn-outline-light me-1">
                  <i class="fa-brands fa-github fa-lg"></i>
              </a>
              <a href="https://www.linkedin.com/in/daniil-velykyi/" target="_blank" class="btn btn-outline-light me-1">
                  <i class="fa-brands fa-linkedin fa-lg"></i>
              </a>
              <a href="https://t.me/spacecore_pro_admin" target="_blank" class="btn btn-outline-light me-1">
                  <i class="fa-brands fa-telegram fa-lg"></i>
              </a>
              <a href="mailto:velykyy248@gmail.com" class="btn btn-outline-light me-1">
                  <i class="fa-solid fa-envelope fa-lg"></i>
              </a>
              <a href="https://discords.com/bio/p/daniilv-me" class="btn btn-outline-light me-1">
                  <i class="fa-brands fa-discord fa-lg"></i>
              </a>
          </div>
        </div>
  </div>
</div>