<div class="container-fluid" style="background-color: #8938F7; height:100%" >  
  <div class="position-absolute top-50 start-50 translate-middle bg-light p-5">
    <h3 class="text-center">Contact Form</h3>
    <form action="mailto:dvelykyi@my.centennialcollege.ca">
      <div class="mb-3 required">
        <label for="fullName" class="form-label">Full Name</label>
        <input type="text" class="form-control" id="fullName">
      </div>
      <div class="mb-3 required">
        <label for="email" class="form-label">Email address</label>
        <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
      </div>
      <div class="mb-3 required">
        <label for="number" class="form-label">Contact Number</label>
        <input type="number" class="form-control" id="number">
      </div>
      <div class="form-floating mt-3">
        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
        <label for="floatingTextarea">Comments</label>
      </div>
      <div class="input-group mb-3 mt-3">
        <label class="input-group-text" for="inputGroupFile01">Upload</label>
        <input type="file" class="form-control" id="inputGroupFile01">
      </div>
      <div class="d-grid gap-2">
        <button type="submit" class="btn btn-outline-dark" type="button">Submit</button>
        <button type="reset" class="btn btn-outline-danger" type="reset">Reset</button>
        <hr>
        <a href="/" class="btn btn-outline-primary" role="button">Home Page</a>
      </div>
    </form>
  </div>
</div>