<div class="container-fluid" style="background-color: #111 !important; background-image: radial-gradient(#191919 3px,transparent 0); background-size: 38px 38px; background-repeat: repeat; height: 100%;">   
    <div class="container p-5">

    </div>
</div>