<!-- File Name: home.ejs Student Name: Daniil Velyki Student ID: 301183618 Date: October 1, 2022 -->
<div class="container-fluid" style="background-color: #8938F7; height:1000px">   
    <div class="container p-5" style="color: white">
        <div class="row mt-5 g-0 position-relative">
            <!-- Home page -->
            <div class="col-md-6 mb-md-0 p-md-4">
              <img src="./content/images/myself.jpg" class="w-75 img-responsive center-block d-block mx-auto" alt="Picture of myself">
            </div>
            <div class="col-md-6 p-4 ps-md-0">
                <h1 class="title" >Hello & Welcome!</h1>
                <p>This portfolio will show everything what I have learned and achieved as an Software Engineering student.</p>      
                <p>To discover yourself, gain knowledge, and achieve personal and career goals.</p>
                <p>Website pages:</p>
                <a href="/home" class="btn btn-outline-light me-1">
                    <i class="fa-solid fa-rocket fa-lg"></i>
                </a>
                <a href="/about" class="btn btn-outline-light me-1">
                    <i class="fa-solid fa-user fa-lg"></i>
                </a>
                <a href="/projects" class="btn btn-outline-light me-1">
                    <i class="fa-solid fa-briefcase fa-lg"></i>
                </a>
                <a href="/services" class="btn btn-outline-light me-1">
                    <i class="fa-solid fa-computer fa-lg"></i>
                </a>
                <a href="/contact" class="btn btn-outline-light me-1">
                    <i class="fa-regular fa-paper-plane fa-lg"></i>
                </a>
                <p class="mt-2">Contact information:</p> 
                <a href="https://github.com/daniilv-me" target="_blank" class="btn btn-outline-light me-1">
                    <i class="fa-brands fa-github fa-lg"></i>
                </a>
                <a href="https://www.linkedin.com/in/daniil-velykyi/" target="_blank" class="btn btn-outline-light me-1">
                    <i class="fa-brands fa-linkedin fa-lg"></i>
                </a>
                <a href="https://t.me/spacecore_pro_admin" target="_blank" class="btn btn-outline-light me-1">
                    <i class="fa-brands fa-telegram fa-lg"></i>
                </a>
                <a href="mailto:velykyy248@gmail.com" class="btn btn-outline-light me-1">
                    <i class="fa-solid fa-envelope fa-lg"></i>
                </a>
                <a href="https://discords.com/bio/p/daniilv-me" class="btn btn-outline-light me-1">
                    <i class="fa-brands fa-discord fa-lg"></i>
                </a>
            </div>
          </div>
    </div>
</div>