<div class="container-fluid" style="background-color: #8938F7; height: 100%">  
    <div class="position-absolute top-50 start-50 translate-middle bg-light p-5">
        <h3 class="text-center">Login Form</h3>
        <% if(messages.length > 0) { %>
            <div id="messageArea" class="text-center alert alert-danger">
            <%= messages %>
          </div>
          <% } %>
        <form method="POST" id="loginForm" >
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><i class="fa fa-user"></i></span>
                    <input type="text" id="username" name="username" class="form-control" placeholder="admin" required>                
                </div>
                <label for="password" class="form-label">Password</label>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><i class="fa fa-lock"></i></span>
                    <input type="password" id="password" name="password" class="form-control" placeholder="admin" required>
                </div>
            </div>
            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-outline-dark">Submit</button>
                <button type="reset" class="btn btn-outline-danger" type="reset">Reset</button>
            </div>
        </form>
    </div>
</div>

















<!--div class="container">
    <div class="row">
      <div class="offset-md-3 col-md-6 col-sm-12">
            <div class="login" id="contentArea">
                <h1 class="display-4">Login</h1>

               
                <% if(messages.length > 0) { %>
                  <div id="messageArea" class="alert alert-danger">
                  <%= messages %>
                </div>
                <% } %>

                <form method="POST" id="loginForm" novalidate>
                  <div class="form-group mb-2">
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="fa fa-user">
                        </i>
                      </span>
                      <input type="text" id="username" name="username" class="form-control"   required
                      value="" placeholder="Enter your username">
                    </div>

                  </div>

                  <div class="form-group mb-2">
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="fa fa-lock">
                        </i>
                      </span>
                      <input type="password" id="password" name="password" class="form-control"   required
                      value="" placeholder="Enter your password">
                    </div>

                  </div>                                        
                  <div class="text-end">
                    <button id="loginButton" type="submit" class="btn btn-primary btn-lg">
                      <i class="fas fa-sign-in-alt"></i> Login</button>
                      <button id="cancelButton" type="reset" class="btn btn-warning btn-lg">
                        <i class="fas fa-undo"></i> Cancel</button>
                  </div>
                </form>

            </div>
            <p class="text-center text-muted small">
              Don't have an account? 
              <a class="link" href="/register">Register Here!</a>
            </p>
      </div>
    </div>
  </div-->