<div class="container-fluid" style="background-color: #8938F7; height: 1000px"> 
    <div class="container">
      <h1 class="title text-light text-center mt-5 p-4">My <%= title %></h1>
        <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col">
              <div class="card bg-transparent border-light text-light">
                <img src="./content/images/hosting.png" class="card-img-top" alt="hosting">
                <div class="card-body">
                  <h5 class="card-title">Hosting Provider(EU)</h5>
                  <p class="card-text">Own hosting provider, providing dedicated servers, vps, cloud, and network protection.</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card bg-transparent border-light text-light">
                <img src="./content/images/password_generator.png" class="card-img-top" alt="password">
                <div class="card-body">
                  <h5 class="card-title">Password generator</h5>
                  <p class="card-text">Before was using other website to generate passwords. Now, coded a small password generator based on JS. </p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card bg-transparent border-light text-light">
                <img src="./content/images/unityclub.jpg" class="card-img-top" alt="unityclub">
                <div class="card-body">
                  <h5 class="card-title">Unity Club</h5>
                  <p class="card-text">Small bussiness, setup and update design for template.</p>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>