<!-- File Name: services.ejs Student Name: Daniil Velyki Student ID: 301183618 Date: October 1, 2022 -->
<div class="container-fluid" style="background-color: #8938F7; height: 1000px"> 
  <div class="container">
    <h1 class="title text-light text-center mt-5 p-4">My <%= title %></h1>
    <!-- Group cards -->
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card h-100">
          <img src="./content/images/vps-vs-vds.png" class="card-img-top" alt="vds&vps">
          <div class="card-body">
            <h5 class="card-title">Virtual Dedicated Servers</h5>
            <p class="card-text">Will install & setup Virtulizor, VMManager or other panels to create VDS & VPS.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Price <b>€15/h</b></small>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="./content/images/Hetzner-Online-Dedicated-Servers.jpg" class="card-img-top" alt="servers">
          <div class="card-body">
            <h5 class="card-title">Build Servers</h5>
            <p class="card-text">Can build 1U, 2U, 4U rack-servers with computer/server motherboards and water-cooling.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Price <b>starting form €750</b></small>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="./content/images/mikrotik_banner.jpg" class="card-img-top" alt="mikrotik">
          <div class="card-body">
            <h5 class="card-title">Setup & Troubleshoot Network</h5>
            <p class="card-text">Can work with Router OS and Cisco. Will setup BGP, announce IP prefix, VPN, setup firewall & dhcp.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Price <b>€15/h</b></small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>